*.swp
*.swo
*.gcno
*.gcda
*.kdev4
/.kdev4
__pycache__
/.vs/pycdc
/CMakeFiles
/Debug
/pycdas.dir/Debug
/pycdc.dir/Debug
/pycxx.dir/Debug
/tests
/x64/Debug
/ALL_BUILD.vcxproj
*.filters
*.user
*.vcxproj
/CMakeCache.txt
/cmake_install.cmake
/pycdc.sln
